.transMenu {
 position:absolute ; 
 overflow:hidden; 
 left:-1000px; 
 top:-1000px; 
}
.transMenu .content {
 position:absolute  ; 
}
.transMenu .items {
 border: 0px none #111111 ; 
 position:relative ; 
 left:0px; top:0px; 
 z-index:2; 
}
.transMenu  td
{
 padding: 8px 8px 3px 8px  !important;  
 font-size: 12px !important ; 
 font-family: Arial, Helvetica, sans-serif !important ; 
 text-align: left !important ; 
 font-weight: bold !important ; 
 color: #000 !important ; 	/* #358700 */
} 
#subwrap 
{ 
 text-align: left ; 
}
.transMenu  .item.hover td
{ 
 color: #ff0000 !important ; /* #f0f0f0 */
}
.transMenu .item { 
 text-decoration: none ; 
 cursor:pointer; 
 cursor:hand; 
}
.transMenu .background {
background-image:none; 
/*background-color: red !important ; *//* #c90052 */
 position:absolute ; 
 left:0px; top:0px; 
 z-index:1; 
 opacity:0.95; 
 filter:alpha(opacity=95) 
}
.transMenu .shadowRight { 
 position:absolute ; 
 z-index:3; 
 top:-3000px; /* width:2px; */
 opacity:0.95; 
 filter:alpha(opacity=95)
}
.transMenu .shadowBottom { 
 position:absolute ; 
 z-index:1; 
 left:-3000px; /* height:2px; */
 opacity:0.95; 
 filter:alpha(opacity=95)
}
.transMenu .item.hover {
background-image:none; 
/*background-color: #f00 !important ; */	/* #78143c */
}
.transMenu .item img { 
 margin-left:10px !important ; 
}
table.swmenu {
 top: 0px; 
 left: 0px; 
 position:relative ; 
 margin:0px !important ; 
 border: 0px none #002501 ; 
 z-index: 1; 
}
table.swmenu a{
 margin:0px !important ; 
 padding: 6px 8px 8px 8px  !important ; /* padding: 8px 8px 8px 8px */
 display:block !important; 
 position:relative !important ; 
}
div.swmenu a, div.swmenu a:visited, div.swmenu a:link {
 font-size: 100% !important ; /* 14px */
 font-family: Arial, Helvetica, sans-serif !important ; 
 text-align: center !important ; /* font-weight: bold !important ; */
 color: #ffffff !important ; /* #8BD700 */
 text-decoration: none !important ; 
 margin-bottom:-10px !important ; /* 0px */
 display:block !important; 
 white-space:nowrap ; 
 text-shadow: 0 1px 1px #333;
 border:0px solid #ccc;
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	border-radius:12px;
	-moz-box-shadow:1px 3px 3px 1px rgba(98, 75, 42, 0.5);} /* rgba(20, 20, 20, 0.4) */
}
div.swmenu a:hover{color:yellow}

div.swmenu td.first{
display:'';
} 
div.swmenu td {
 border-bottom: 0px none #111111 ; /* background-color: #78143c !important ;  */
 border-top: 0px none #111111 ; 
 border-left: 0px none #111111 ; 
background-image:url(../images/button-2.png); 
width:120px; 
height:34px;
float:left;
margin-left:5px;			
margin-top:12px;
padding:0px;
-moz-border-radius:12px;
	-webkit-border-radius:12px;
	border-radius:12px;
 } 
div.swmenu td.last {
 border-right: 0px none #111111 ; 
} 
#trans-active a{
 color: #ffffff !important ; 
 background-image:none; 
 /*background-color: #78143c !important ; */
} 
#swmenu a.hover   { 
 opacity:0.75;
 color:yellow;
}
#swmenu span {
 display:none; 
}