/* .hits, .numlnk */

/*.caticon { margin-left: -16px; padding: 2px 8px; } / space needed for category icon*/
.cat_title, .cat_title_lnkcols, .cat_title_catcols { font-weight: bold; }
.ldes, .ldes_lnkcols, .ldes_catcols { font-size: smaller; }
.cdes, .cdes_lnkcols, .cdes_catcols { font-style: italic; }
.new, .new_lnkcols, .new_catcols { font-weight: bold; color: red; }

/*ul.awl li, ul.awl_lnkcols li, ul.awl_catcols li = all bullets*/

.cats, .cats_lnkcols, .cats_catcols {
 background-image: none !important; /* list style on/off for e.g. purity layouts*/
 list-style-type: none;             /* list style on/off for e.g. milkyqay layout*/
}

ul.links li, ul.links_lnkcols li, ul.links_catcols li {
 background-image: none !important; /* list style on/off for e.g. purity layouts*/
 list-style-type: none;             /* list style on/off for e.g. milkyqay layout*/
}

/* below styles should not be changed */
.awl { margin-left: -2em; }        /* neg.margin f. list style layouts (e.g milkyway)*/

ul.links {
height: 100%;
margin-left: -2.8em;
}

ul.links li { border-bottom: 1px dotted silver; }

ul.links_lnkcols, .awl_catcols {
width: 97%;
overflow: auto;
height: 100%;
margin-left: -2em;
}

ul.links_lnkcols li {
width: 13em;
float: left;
border-bottom: 1px dotted silver;
}

ul.links_catcols li { margin-left: -2em; }

.cats_catcols {
width: 13em;
float: left;
border-bottom: 1px dotted silver;
padding-left: 2em;
}
