	

	div#slidergallery{

		/* width:516px;	 Total width of slideshow */

		text-align:center !important;

	}

	

	#previewPane{

		/*border:1px solid #CCCCCC;*/

		margin-bottom:10px;	

		text-align:center !important;

		vertical-align:middle;

		padding-top:10px;

     

		position:relative;

		

		/* CSS HACK */

		/*height: 432px;	/* IE 5.x */

		/*height/* :/**//*400px;*/	/* Other browsers */

		/*height:*/ /**//*400px;*/

				

	}

	#previewPane img{

		line-height:400px;

		padding:0px 6px;

	}

	#previewPane #largeImageCaption{	/* CSS styling of image caption below large image */

		font-style:normal;

		text-align:center;

		font-family: Arial, Helvetica, sans-serif;	/* Font to use */

		font-size:12px;

		padding-top:12px;

		font-weight:bold;

		color:#000;

	}

	#arrow_left{

		position:absolute;

		left:0px;

		z-index:10;

		background-color: #FFF;

		padding:1px;

	}

	#arrow_right{

		position:absolute;

		right:0px;

		z-index:10;

		background-color: #FFF;

		padding:1px;		

	}

	#theImages{
		position:absolute;

		left:40px;

		width:100000px;
	}

	#theImages #slideEnd{

		float:left;

	}

	#theImages img{

		float:left;

		padding:1px;

		filter: alpha(opacity=50);

		opacity: 0.5;

		cursor:pointer;

		border:0px;

	}



	#waitMessage{

		display:none;

		position:absolute;

		left:0px;

		top:0px;		

		margin:11px;		

		/*background:#DDD url(../images/loading1.gif) no-repeat scroll 50% 50%;*/

		background:#DDD url(../images/loading1.gif) no-repeat scroll 50% 50%;

		opacity:0.6;

	}

	

	#theImages .imageCaption{

		display:none;

	}

	

	#link{ text-align:right;}

	

	#link a{

		text-decoration:none;		

		font-size:7px;

	}

	#link a:hover{ text-decoration:none;}